name: Run processorStep0

on:
  schedule:
  - cron:  '0 12 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    # cf. https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions
    #runs-on: ubuntu-latest
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    
    - name: Increase git buffer size
      run: |
        git config --global http.postBuffer 1048576000
    
    - name: Set up Python 3.11.1
      uses: actions/setup-python@v5
      with:
        python-version: 3.11.1
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt      
            
    - name: install gdal
      run: |
        sudo add-apt-repository ppa:ubuntugis/ppa
        sudo apt-get update
        sudo apt-get install gdal-bin
        sudo apt-get install libgdal-dev
        
    - name: Run Python script
      run: |
        python satromo_processor.py prod_config.py
      env: # Set the secrets as env var
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      
    - name: Push tools files to repo
      uses: github-actions-x/commit@v2.9
      with:
        push-branch: 'main'
        commit-message: 'Tools files done'
        force-add: 'true'
        files: tools/
        name: autoupdate

    - name: Push processing files to repo
      uses: github-actions-x/commit@v2.9
      with:
        push-branch: 'main'
        commit-message: 'Processing files done'
        force-add: 'true'
        files: processing/
        name: autoupdate
        
